/* Condition.module.css */

.conditionHeading {
  padding-top: 120px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Open sans";
  font-weight: 700;
  font-size: 35px;
}

.conditionInfo {
  display: flex;
  justify-content: center;
  gap: 200px;
}

.conditionImage {
  height: 500px;
}

.infoService {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
