.contact {
    display: flex;
    justify-content: center;
    gap: 200px;
    padding-top: 120px;
    align-items: center;
}
.doctorImg {
    height: 550px;
}
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-heading {
    font-weight: 700;
    font-size: 50px;
    margin: 30px;
}
.phone {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.phone img{
    height: 25px;
}

.phone a{
    text-decoration: none;
    color : #394157;
    cursor: pointer;
    font-size: 20px;
    padding-left: 5px;
}

.insta {
    margin: 10px 0;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.insta img{
    height: 30px;
}
.insta a{
    text-decoration: none;
    color : #394157;
    cursor: pointer;
    font-size: 20px;
    padding-left: 5px;
}

.quote {
    position: relative;
}

.quote img{
    width: 600px;
}

.quote p{
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    font-style:italic;
    top: 15%;
    left: 0%;
    font-size: 30px;
    text-align: center;
}

.footer{   
    padding: 0 0;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-bottom: 100px;
}

.footer-links h1{
    font-size: 20px;
}

.f-link{
    cursor: pointer;
    position: relative;
}

.f-link::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.5s ease, left 0.5s ease;
}

.f-link:hover::after{
    width: 100%;
    left: 0;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  .section-4 .footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .footer-links {
    display: flex;
    gap: 20px;
  }
  