
.faq-container {
    font-family: 'Roboto', Arial, sans-serif; 
    margin-top: 5%;
    margin-left: 10%; /* Adjust this value as needed */
    margin-right: 10%; /* Adjust this value as needed */
}
  
.faq-item {
    margin-bottom: 10px;
}
  
.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}
  
.faq-toggle {
    font-size: 20px;
    font-weight: bold;
    color: #555;
}
  
.faq-answer {
    padding-left: 30px;
    font-size: 16px;
    margin-top: 5px;
}
  
.faq-answer p {
    margin: 0;
}
