/* Consolidated Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F7F7F1;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  color: #394157;
}

.App {
  height: 100vh;
  overflow: hidden;
}

.scroll-container {
  overflow-x: hidden;
  height: 100%;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.container {
  max-width: 1400px;
  margin: auto;
}

.menu-icon {
  display: none;
}

@media (max-width: 1300px) {
  .contact { align-items: start; }
  .doctorImg { display: none; }
  .main-img { display: none; }
  main { justify-content: center; }
  .condition-image { display: none; }
}

@media (max-width: 1000px) {
  .contact { padding-top: 50px; }
  .contact-heading { margin: 30px; }
  .links { display: none; }
  .link { font-size: 1.5rem; }
  .menu-icon { width: 30px; display: block; }
  .nav { margin: 0 10px; }
  .footer-links { flex-direction: column; gap: 0px; }
  .quote img { width: 400px; }
  .quote p { font-size: 1.25rem; }
}

@media (max-width: 690px) {
  .condition-heading { padding-top: 90px; }
  .contact-heading { font-size: 1.875rem; }
}

@media (max-width: 470px) {
  .main-heading { font-size: 2.1875rem; }
  .main-subtext { padding-top: 30px; font-size: 13.5px; }
  .main-button { width: 300px; height: 70px; margin-top: 30px; }
  .button-text { font-size: 12px; }
  .service-subtext { font-size: 13px; height: 80px; }
  .service-heading { font-size: 1.25rem; }
  .quote img { width: 300px; }
  .quote p { font-size: 15px; }
  .list-service { margin: 0; }
  .help-heading { padding-top: 80px; margin-top: 10px; font-size: 2.1875rem; }
}
