/* Main.module.css */

.mainContainer {
  /* Styles for main container */
}

.main {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin: 70px 100px;
}

.mainText {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainHeading {
  margin-bottom: 10px;
  font-size: 45px;
  text-align: center;
  font-family: "Open Sans";
}

.mainSubtext {
  margin-bottom: 30px;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
}

.mainImg {
  height: 550px;
}
