/* MobileNav.module.css */

.mobileNavigation {
  /* Styles for the mobile navigation container */
}

.closeIcon {
  width: 30px;
}

.mobileLinks {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  gap: 20px;
  height: 100vh;
  padding: 0;
}

.link {
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
  color: #394157;
  text-decoration: none;
}

.link:hover {
  color: #000; /* Change color on hover */
}
