.nav-bar{
    padding-top: 10px;
}

.nav{
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
}

.logo-wrapper {
    font-style: italic;
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
}

.logo-text{
    font-size: 25px;
    cursor: pointer;
}

.links {
    list-style-type: none;
    display: flex;
    gap: 45px;
    align-items: center;
}
.link {
    font-family: "Montserrat";
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    color : #394157;
    text-decoration: none;
}

.link::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.5s ease, left 0.5s ease;
}

.link:hover::after{
    width: 100%;
    left: 0;
}
