/* Service.module.css */

.serviceWrapper {
  /* Styles for the container */
}

.serviceText {
  background-color: #E4EEFF;
  text-align: center;
  width: 480px;
  height: 150px;
}

.serviceHeading {
  text-transform: uppercase;
  padding-top: 10px;
}

.serviceSubtext {
  /* Optional styles for subtext if needed */
}
